<!-- 推荐 -->
<header class="tj-header" [style.background-image]="'url('+bannerImg+')'">
  <nav class="tj-nav" [id]="tpCls">
    <div class="center">
      <div class="tj-nav-left">
        <img [src]="!!tpCls?'/assets/images/logo_red.svg':'/assets/images/logo_wt.svg'" alt="">
        <span>首页</span>
        <span>发现</span>
        <span>最新</span>
        <span class="iconfont icon-menu showMenu" style="font-size: 1.3rem;" (mouseleave)="visibleMenu=false" (mouseenter)="visibleMenu=true">
          <div class="menu" *ngIf="visibleMenu">
            <header class="menu-header v-center">
              <h3>教育</h3>
              <h3>移动应用</h3>
              <h3>采集工具</h3>
            </header>
            <section class="menu-section">
              <div *ngFor="let item of menu?.categories">{{item.name}}</div>
            </section>
            <footer class="v-center">
              <span class="iconfont icon-tuding"></span>
              <div class="v-center text-center">
                <span>关于</span>
                <span>帮助中心</span>
                <span>反馈</span>
                <span>博客</span>
              </div>
            </footer>
          </div>
        </span>
        <span>活动</span>
        <span>美素</span>
        <span>美思</span>
        <span>美物</span>
        <span>花瓣LIVE</span>
      </div>
      <div class="tj-nav-right">
        <span class="my-btn-trans mr-2 px-3 py-1 {{login}}">登录</span>
        <span class="my-btn-w font-color-b px-3 py-1">注册</span>
      </div>
    </div>
  </nav>
  <div class="title-out">
    <div class="title">花瓣，陪你做生活的设计师</div>
    <div class="search-box">
      <input type="text" placeholder="搜你喜欢的" [(ngModel)]="searchValue" (input)="search()" (keyup.enter)="enter()">
      <span href="#" onclick="return false;" class="iconfont icon-search go" ></span>
      <div class="list-groups" *ngIf="searchValue">
        <p *ngFor="let item of searchList" class="list-items" (click)="enter(item)">{{item}}</p>
      </div>
    </div>
    <div class="text-center py-2 font-color-b">
      <p>热门搜索：双十一素材、创意合成、壁纸那些事</p>
    </div>
  </div>
</header>
<div class="center-nav">
  <div class="nav-items" *ngFor="let item of explores" (click)="navTo('explores', item.urlname)">
    <div class="nav-bg" [style.background-image]="'url(' + imgHost+item?.cover.key+ ')'"></div>
    <span class="title">{{item.name}}</span>
  </div>
</div>
<section class="section-img">
  <div class="img-group">
    <div *ngFor="let item of imgList" class="img-out" (click)="navTo(item.type, item.urlname, item.board_id)">
      <a *ngIf="item.cover.key">
        <img [src]="item.cover?imgHost+item.cover.key:''" [alt]="item?.title">
      </a>
      <a *ngIf="item.avatar" class="section-user">
        <div class="flex-h" style="font-size: 0.8rem;">
            <img [src]="item.avatar?imgHost+item.avatar.key:''" [alt]="item?.title">
            <span style="font-size: 1.1rem;">{{item.title}}</span>
            <p class="pt-1" style="color: gray;">
              <span>{{item.pin_count}}&nbsp;采集&nbsp;&nbsp;&nbsp;</span>
              <span>{{item.follow_count}}&nbsp;粉丝</span>
            </p>
        </div>
      </a>
    </div>
    <span class="emp" *ngIf="imgList.length%4<=3&&imgList.length%4>0"></span>
    <span class="emp" *ngIf="imgList.length%4<=2&&imgList.length%4>0"></span>
    <span class="emp" *ngIf="imgList.length%4<=1&&imgList.length%4>0"></span>
  </div>
</section>
<div class="loadMore">
  <p (click)="loadMore()">加载更多</p>
</div>
<footer style="max-width: 1000px;margin: 0 auto;padding: 20px 0">
  <p style="color: gray;font-size: 1.2rem">以分类浏览花瓣</p>
  <div class="favorite">
    <div *ngFor="let item of favorite" style="padding: 5px;color: #222;font-size: 0.8rem;">{{item.name}}</div>
  </div>
</footer>