.tj-header {
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 200ms ease-in-out;
  #tpCls {
    background-color: white;
    color: black;
    
  }
  .mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
  }
  .tj-nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    color: white;
    .center {
      max-width: 1300px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      margin: 0 auto;
    }
    &-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        display: inline-block;
        margin: 0 10px; 
        cursor: pointer;
      }
      .showMenu {
        position: relative;
        .menu {
          position: absolute;
          top: 50px;
          left: -150px;
          width: 300px;
          // height: 350px;
          padding: 10px;
          transition: all .5s;
          background-color: white;
          color: black;
          font-size: 0.9rem;
          box-shadow: 0 0 1px rgba(3,3,3,0.3);
          &-header {
            width: 100%;
            text-align: left;
            justify-content: space-between;
            h3 {
              width: 100%;
            }
          }
          &-section {
            width: 100%;
            column-count: 2;
            column-gap: 0;
            border-top: 1px solid gainsboro;
            border-bottom: 1px solid gainsboro;
            padding: 5px 0;
            div {
              display: block;
              width: 80px;
              height: 20px;
              padding: 10px;
              line-height: 20px;
              text-align: left;
            }
          }
        }
      }
    }
    &-right {
      
    }
  }
  .title-out {
    height: 520px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    .title {
      margin: 118px auto 40px;
      width: 540px;
      height: 54px;
      line-height: 54px;
      color: #fff;
      font-family: "sy-sans";
      font-size: 44px;
      font-weight: 200;
      text-align: center;
      text-shadow: 0 10px 30px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,.2);
      -webkit-font-smoothing: antialiased;
    }
  }
  
  .search-box {
    width: 536px;
    position: relative;
    margin: 0 auto;
    .list-groups {
      width: 100%;
      position: absolute;
      top: 40px;
      left: 0;
      background-color: white;
      cursor: pointer;

      .list-items {
        padding: 5px;
        &:hover {
          background-color: rgba(237,237,237,.9);
        }
      }
    }
    input {
      padding: 0 10px;
      width: 536px;
      height: 40px;
      border: 1px solid rgba(255,255,255,.95);
      border-radius: 2px;
      background-color: rgba(255,255,255,.95);
      color: #444;
      box-shadow: 0 16px 32px 0 rgba(0,0,0,.07), 0 1px 3px 0 rgba(0,0,0,.02), 0 0 0 1px rgba(0,0,0,.1);
      box-sizing: border-box;
    }
    span {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
.section-img {
  width: 100%;
  padding: 20px 0 10px;
  display: flex;
  justify-content: space-around;
  .img-group {
    width: 1244px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .emp {
      width: 308px;
      height: 308px;
    }
    .img-out {
      width: 308px;
      height: 308px;
      margin-bottom: 10px;
      a {
        outline: 0;
        img {
          width: 100%;
          height: 100%;
          background-color: rgba(3,3,3,0.4);
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .section-user {
        width: 308px;;
        height: 308px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: RGB(249,243,243);
        img {
          width: 120px;
          height: 120px;
          border: 1px solid white;
          border-radius: 50%;
        }
      }
      
    }
  }
}
.loadMore {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  p {
    background-color: gainsboro;
    width: 100px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.favorite {
  column-count: 5;
  column-gap: 10px;
  border-top: 1px solid gainsboro;
  padding: 30px 0;
  margin-top: 10px;
}