@import './variable.scss';
@each $key, $val in $colors {
  .my-btn-#{$key} {
    @extend %button;
    @include Button($val);
  }
}
.my-btn-trans {
  @extend %button;
  border: 1px solid $color-pr;
  transition: all .3s;
  &:hover {
    background-color: $color-pr;
    color: $color-h;
  }
  &:active {
  }
}