.flex {
  display: flex;
}
.v-center {
  @extend .flex;
  align-items: center;
}
.flex-h {
  @extend .flex;
  flex-direction: column;
  align-items: center;
}
.flex-a {
  @extend .flex;
  justify-content: space-around;
  align-items: center;
}
.flex-b {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
}

.abs {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.text-center {
  text-align: center;
}