<div class="boards-out">
    <header class="boards-header">
      <div style="padding: 20px;border-bottom: 1px solid gainsboro;">
        <div class="boards-header-left">
            <div class="v-center">
              <h3 style="margin-right: 10px;">{{infos?.title}}</h3>
              <span class="font-md" style="color:#9E7E6B;"><span style="color: #777;">所属分类：</span>{{infos?.category_name}}</span>
            </div>
            <pre *ngIf="isShow" (click)="isShow = false" class="font-md font-color" style="margin-top: 15px;color: #777;">{{infos?.description.substr(0,50)}}...</pre>
            <pre *ngIf="!isShow" (click)="isShow = true" class="font-md font-color" style="margin-top: 15px;color: #777;">{{infos?.description}}</pre>
          </div>
          <div class="boards-header-right"></div>
      </div>
      <div class="header-bottom">
        <img [src]="host+infos?.user.avatar.key" alt="">
        <span>{{infos?.user.username}}</span>
      </div>
    </header>
    <section class="boards-section">
      <div *ngFor="let item of objArr, let i=index" [style.top.px]="item.top" [style.left.px]="item.left" class="img-group" (click)="showDialog(i)">
        <img *ngIf="!item.no" [src]="host+item.item.file.key" [alt]="item.item.file.theme" [style.width.px]="item.width" [style.height.px]="item.height">
      </div>
    </section>
    <footer></footer>
</div>
<div class="o-dialog color-dialog" *ngIf="visibleDialog">
    <span class="fa fa-times close" aria-hidden="true" (click)="close()"></span>
    <span class="fa fa-angle-left left" aria-hidden="true"></span>
    <span class="fa fa-angle-right right" aria-hidden="true"></span>
    <dialog open class="o-item">
        <div class="flex">
          <div class="dialog-img mr-2">
            <img class="showimg" [src]="host+imgInfo?.pin.file.key" alt="">
          </div>
          <div class="left-list">
            <header class="dialog-header mb-4 flex">
              <img style="display:inline-block;width: 50px;height:50px;" [src]="host+infos?.user.avatar.key" alt="">
              <div class="ml-3">
                <p class="">{{imgInfo?.pin.board.title}}</p>
                <p class="intro mt-2">{{infos?.user.username}}</p>
              </div>
            </header>
          </div>
        </div>
        <div class="dialog-img">
          <header class="dialog-header mb-4">
            <img style="display:inline-block;width: 50px;height:50px;" [src]="host+infos?.user.avatar.key" alt="">
            <div class="ml-3">
              <p>{{infos?.user.username}}</p>
              <p class="intro mt-1">采集于{{imgInfo?.pin.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
          </header>
          <article>
            <pre>{{imgInfo?.pin.raw_text}}</pre>
          </article>
        </div>
    </dialog>
</div>