<div class="boards-out">
    <header class="boards-header">
      <div style="padding: 20px;border-bottom: 1px solid gainsboro;">
        <div class="boards-header-left">
            <div class="v-center">
              <h3 style="margin-right: 10px;">{{infos?.title}}</h3>
              <span class="font-md" style="color:#9E7E6B;"><span style="color: #777;">所属分类：</span>{{infos?.category_name}}</span>
            </div>
            <pre *ngIf="isShow" (click)="isShow = false" class="font-md font-color" style="margin-top: 15px;color: #777;">{{infos?.description.substr(0,50)}}...</pre>
            <pre *ngIf="!isShow" (click)="isShow = true" class="font-md font-color" style="margin-top: 15px;color: #777;">{{infos?.description}}</pre>
          </div>
          <div class="boards-header-right"></div>
      </div>
      <div class="header-bottom">
        <img [src]="host+infos?.user.avatar.key" alt="">
        <span>{{infos?.user.username}}</span>
      </div>
    </header>
    <section class="boards-section">
      <div *ngFor="let item of objArr" [style.top.px]="item.top" [style.left.px]="item.left" class="img-group">
        <img *ngIf="!item.no" [src]="host+item.item.file.key" [alt]="item.item.file.theme" [style.width.px]="item.width" [style.height.px]="item.height">
      </div>
    </section>
    <footer>
    </footer>
</div>