<div class="boards-out">
    <header class="boards-header">
      <div style="padding: 20px;border-bottom: 1px solid gainsboro;">
        <div class="boards-header-left">
            <div class="v-center">
              <h3 style="margin-right: 10px;">{{infos?.title}}</h3>
              <span class="font-md" style="color:#9E7E6B;"><span style="color: #777;">所属分类：</span>{{infos?.category_name}}</span>
            </div>
            <pre class="font-md font-color" style="margin-top: 15px;color: #777;">{{infos?.description}}</pre>
          </div>
          <div class="boards-header-right"></div>
      </div>
      <div class="header-bottom">
        <img [src]="host+infos?.user.avatar.key" alt="">
        <span>{{infos?.user.username}}</span>
      </div>
    </header>
    <section class="boards-section">
      <div *ngFor="let item of infos?.pins,let i=index" class="img-group" (click)="showDialog(i)">
        <img [src]="host+item.file.key" [alt]="item.file.theme">
      </div>
    </section>
    <footer></footer>
</div>
<div class="o-dialog" *ngIf="visibleDialog">
    <span class="fa fa-times close" aria-hidden="true" (click)="close()"></span>
    <span class="fa fa-angle-left left" aria-hidden="true"></span>
    <span class="fa fa-angle-right right" aria-hidden="true"></span>
    <dialog open class="o-item">
        asdf
    </dialog>
</div>