.o-input-out {
    display: inline-block;
    border: 1px solid rgba(155,155,155,0.5);
    position: relative;
    .o-input-input {
        display: block;
        border: none;
        outline: none;
        padding: 10px 40px 10px 10px;
    }
    .input-icon {
        position: absolute;
        top:50%;
        right: 20px;
        transform: translate(50%, -50%);
        cursor: pointer;
    }
}